        body{
            padding: 0px;
            margin: 0px;
        }

        .reservation-wrapper{
            padding: 0.7rem;
            margin: 5.0rem;
        }

        .reservation-content{
            padding: 0.5rem;
            margin-left: 0.5rem;
            box-shadow: 3px 3px 3px #cccccc;
        }

        #reservation-calendar{
            width: 12.0rem;
            height: 12.0rem;
            padding: 0.5rem;
            margin-top: 15.0rem;
        }

        .class-selected-wrapper{
            padding: 0.5rem;
            margin: 5.0rem;
        }

        .class-selected-content{
            padding: 0.5rem;
            margin-left: 0.5rem;
            box-shadow: 3px 3px 3px #cccccc;
        }

        #historyImg{
            width: 100%;
            height: 100%;
        }

        #hrheight{
            border-right: solid 1px rgb(170, 164, 164);
            width: 0.1px;
            height: 150px;
        }
        /* 이미지 div */
        #historyimgbox{
        width: 200px;
        height: 150px;
        }

        .historyclassname{
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 3px;
        }

        .historyid{
            font-size: 1.0rem;
            color: #C0C0C0;
        }
