<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
<div th:replace="header.html::header"></div>
<div class="container">
    <br><br><br>
    <hr>
    <div class="row" th:each="room : ${roomEntities}">
        <div class="col-md-3">
            <button style="margin-top:10px;" type="button" class="btn btn-outline-light me-2"
                    th:data-bs-target="${'#modal'+room.roomNo}" data-bs-toggle="modal">
                <img th:src="@{'/roomimg/'+${room.roomImgEntities.get(0).roomImg}}" width="100%"></button>
        </div>
        <div class="col-md-9 row">
            <div th:text="${'등록번호 : '+room.roomNo}" style="font-size:25px"></div>
            <hr>
            <div class="col-md-4">
                <div>
                    <a th:href="@{'/room/view/' + ${room.roomNo} }"
                       class="logo d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                        <span style="font-size:25px; color:pink;" th:text="${room.roomTitle}"></span>
                    </a>
                </div>
                <div th:text="${'카테고리 : '+room.roomCategory}"></div>
                <div th:text="${'정원 : '+room.roomMax}+'명'"></div>
                <div th:text="${'공방주소 : '+#strings.listSplit(room.roomAddress,',')[0]}"></div>
                <div><span>상태 : </span><span th:text="${room.roomStatus}" style="color:pink"></span></div>
                <div th:text="${'등록일자 : '+#temporals.format (room.createdDate,'MM-dd hh:mm')}"></div>
                <br>
            </div>
            <div class="col-md-3">
                <button class="btn btn-dark my-2" th:data-bs-target="${'#active'+room.roomNo}" data-bs-toggle="modal">
                    <span class="nav-link link-dark text-white">상태변경</span></button>
                <button class="btn btn-dark my-2" th:data-bs-target="${'#delete'+room.roomNo}" data-bs-toggle="modal">
                    <span class="nav-link link-dark  text-white">삭제</span>
            </div>
        </div>
        <!--    &lt;!&ndash; 사진 확대 모달// id는 숫자가 안됨. &ndash;&gt;-->
        <div class="modal fade" tabindex="-1" role="dialog" th:id="${'modal'+room.roomNo}" data-bs-keyboard="false"
             data-bs-backdrop="static" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <!--modal-lg 모달사이즈 800px 키우기-->
                <div class="modal-content rounded-5 shadow">
                    <div class="modal-header p-5 pb-4 border-bottom-0">
                        <!-- <h5 class="modal-title">Modal title</h5> -->
                        <h2 class="fw-bold mb-0">IMG</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-5 pt-0">
                        <!-- 캐러셀 -->
                        <div th:id="${'carousel'+room.roomNo}" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active"><!-- 대표이미지 -->
                                    <div>
                                        대표이미지 <img th:src="@{'/roomimg/'+${room.roomImgEntities.get(0).roomImg}}"
                                                   class="d-block w-100" alt="...">
                                    </div>
                                </div>
                                <div class="carousel-item" th:each="roomimg : ${room.roomImgEntities}"><!-- 반복문 -->
                                    <!-- active : 현재 보고 있는 이미지 설정[한곳에만 설정]-->
                                    <img th:src="@{'/roomimg/'+ ${roomimg.roomImg}}" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    th:data-bs-target="${'#carousel'+room.roomNo}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    th:data-bs-target="${'#carousel'+room.roomNo}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- 상태변경모달  -->
        <div class="modal fade" th:id="${'active'+room.roomNo}" data-keyboard="false" data-backdrop="static"
             tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-body p-4 text-center">
                        <h5 class="mb-0"> 등록물 상태변경 </h5>
                        <p class="mb-3" id="activemsg">등록물 상태를 변경합니다. 변경하시겠습니까? </p>
                    </div>
                    <div class="modal-footer flex-nowrap p-0">
                        <button type="button" class="btn btn-lg btn-link text-decoration-none col-2 m-0 rounded-0"
                                style="font-size:8px;" th:onclick="activeupdate([[${room.roomNo}]],'검토중')">검토중
                        </button>
                        <button type="button" class="btn btn-lg btn-link text-decoration-none col-2 m-0 rounded-0"
                                style="font-size:8px;" th:onclick="activeupdate([[${room.roomNo}]],'승인중')">승인중
                        </button>
                        <button type="button" class="btn btn-lg btn-link text-decoration-none col-3 m-0 rounded-0"
                                style="font-size:8px;" th:onclick="activeupdate([[${room.roomNo}]],'승인완료')">승인완료
                        </button>
                        <button type="button" class="btn btn-lg btn-link text-decoration-none col-3 m-0 rounded-0"
                                style="font-size:8px;" th:onclick="activeupdate([[${room.roomNo}]],'승인거부')">승인거부
                        </button>
                        <button type="button" class="btn btn-lg btn-link text-decoration-none col-2 m-0 rounded-0"
                                style="font-size:10px;" data-bs-dismiss="modal">취소
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <!-- 삭제모달  -->
        <div class="modal fade" tabindex="-1" th:id="${'delete'+room.roomNo}" data-bs-keyword="false"
             data-bs-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-body p-4 text-center">
                        <h5 class="mb-0"> 등록물 삭제 </h5>
                        <p class="mb-3" id="deletemsg">등록물 삭제시 복구가 불가능합니다. 삭제하시겠습니까? </p>
                    </div>
                    <div class="modal-footer flex-nowrap p-0">
                        <button th:onclick="rdelete([[${room.roomNo}]]);" type="button"
                                class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-right">
                            <strong>삭제합니다.</strong></button>
                        <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0"
                                data-bs-dismiss="modal">아닙니다.
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
<script th:src = "@{/js/roomlist.js}"></script>
<script th:src = "@{/js/nreply.js}"></script>
</body>
</html>