<!--
@Author : 김정진
@Date : 2022-02-18
@Note :
    1. board_content.html 은 게시판 선택 후, 해당 게시판에 대한 정보를 출력하는 화면입니다.
    2. 컨트롤러에서 model 값을 뿌려준 다음 board_list.html 에 있는 div 영역에 뿌려집니다.
-->
<div>
    <div class="row no-gutters">
        <div class="col-6">
            <div class="row no-gutters">
                <div class="col-3">전체선택</div>
                <div class="col-3"></div>
            </div>
        </div>
        <div class="col-6">
            <div class="row no-gutters">
                <div class="col-3">
                    <button class="list-type-btn">10개씩 보기</button>
                </div>
                <div class="col-3">
                    <button class="list-type-btn">30개씩 보기</button>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <button class="list-type-btn" type="button" >게시글 작성</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>내용</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.postNo}"></td>
            <td th:text="${post.postTitle}"></td>
            <td th:text="${post.postContent}"></td>
            <td th:text="${post.member.memberId}"></td>
            <td th:text="${post.createdDate}"></td>
        </tr>
        </tbody>
    </table>

</div>