@charset "UTF-8";

.logo img{
    height : 50px;
}
.modal {
display: none;
}

#popup {
position : relative;
width:100vw;
height:100vh;
background:rgba(0,0,0,0.8);
}

.popupmodal {
border-radius: 5rem;
z-index:100;
position : absolute;
background:white;
width:60%;
height:60%;
top: 20%;
left: 50%;
transform: translate(-50%, -50%);
}

.googlesignup {
    background: rgb(61, 139, 255);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3rem;
    box-shadow: 3px 3px 3px black;

}

.kakaosignup {
    background: rgb(255, 174, 0);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    border-radius: 3rem;
    box-shadow: 3px 3px 3px black;
}

.naversignup {
    background: rgb(21, 148, 59);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3rem;
    box-shadow: 3px 3px 3px black;
}

/* 주석 */