<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:replace="header.html::header"></div>
<div class="container">
    <div clas="row">
        <div style="background-color:#F28316;">
            <h3>정산페이지</h3>
        </div>
        <div class="col-md-3" style="border-right: 1px solid grey;">
            <div>
                <p>정산 신청</p>
                <p>정산 내역</p>
                <p>결제 내역 관리</p>

                <button type="button" class="btn btn-outline-primary" >문의하기</button>
            </div>
        </div>
        <div class="col-md-9">
            <div style="background-color:#263238;">
                <h4 style="color: #FFFFFF;">공지 사항 안내</h4>
            </div>

            <h3><strong>결제 내역 관리</strong></h3>
            <table class="table table-striped">
                <tr>
                    <th>클래스명</th>
                    <th>결제날짜</th>
                    <th>결제금액</th>
                    <th>신청인원</th>
                    <th>수강날짜</th>
                    <th>신청상태</th>
                    <th>신청상세내역</th>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>