<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #reviewbox{
        height: auto;
        display: flex;
        padding: 2%;
        border-color: #e0e0e0;
        border-style: solid;
        border-width: 1px;
        border-radius: 7px;
        flex-direction: column;
        }
    </style>
</head>
<body>
<div th:replace="common.html::common"></div>
<div th:replace="header.html::header"></div>

<!-- 레이아웃 01-27 조지훈-->
<div class="container">
    <div class="row">
        <div style="height:200px;">

        </div>
        <h3>채널명</h3>
        <ul class="nav col-12 col-md-auto mb-2 mt-3 justify-content-center">
            <li>홈</li>
            <li>오프라인 클래스</li>
            <li>라이브 클래스</li>
            <li>클래스 결과물</li>
            <li>수강생 결과물</li>
        </ul>
        <hr>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <img src="" alt="">
                </div>
                <div class="col-md-8">
                    <div>
                        <span>클래스명</span>
                    </div>
                    <div>
                        <span>주소</span>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <span><strong>강사 소개</strong></span>
            </div>
            <hr>
            <div>
                <h5><strong>공간 및 클래스 소개</strong></h5>
                <div class="row">
                    <div class="col-md-6">
                        <img src="" alt="">
                    </div>
                    <div class="col-md-6">
                        <span>내용</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" id="reviewbox">
            <h4><strong>클래스 후기</strong></h4>
            <div class="row">
                <div class="col-md-8">
                    <h5><strong>클래스명</strong></h5><br>
                    <span>날짜</span>
                    <span>내용</span>
                </div>
                <div class="col-md-4">
                    <img src="" alt="">
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>

<div th:replace="footer.html :: footer"></div>
</body>
</html>