<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/calendar.css}">
</head>
<body>
<!--
@Author : 김정진
@Date : 2022-02-13
@Note :
    1. History Entity 에서 회원이 신청한 내역을
-->

<div th:replace="common.html::common"></div>
<div th:replace="header.html::header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-8 my-5" style="border: 2px solid #eeeeee; box-shadow= 3px 3px 3px #cccccc;">
            <!-- 예약 내역 반복문으로 출력 시작 -->
            <div class="reservation-wrapper" th:each=" history : ${histories}">

                <div class="row my-3 d-flex border">
                    <div class="col-md-4 text-center">
                        <img th:src="@{ 'roomimg/' + ${history.roomEntity.roomImgEntities.get(0).roomImg} }"
                             class="rounded img-fluid"
                             width="250" height="250">
                    </div>

                    <div class="col-md-8 d-flex flex-column my-3">
                        <div th:text="${history.memberEntity.memberId}"></div>
                        <div th:text="${history.roomEntity.roomTitle}"></div>
                        <div th:text="${history.timeTableEntity.roomDate}"></div>
                        <div th:text="${history.timeTableEntity.roomTime}"></div>
                    </div>
                </div>
            </div>
            <!-- 예약 내역 반복문으로 출력 종료 -->
        </div>

        <div class="col-md-4 col-4 sticky-top" id="reservation-calendar">
            <!-- 달력 출력 시작 -->
            <div style="width: 450px; height: 550px; box-shadow: 5px 5px 5px #cccccc;">
                <div class="sec_cal">
                    <div class="cal_nav">
                        <a href="javascript:;" class="nav-btn go-prev">prev</a>
                        <div class="year-month"></div>
                        <a href="javascript:;" class="nav-btn go-next">next</a>
                    </div>
                    <div class="cal_wrap">
                        <div class="days">
                            <div class="day">MON</div>
                            <div class="day">TUE</div>
                            <div class="day">WED</div>
                            <div class="day">THU</div>
                            <div class="day">FRI</div>
                            <div class="day">SAT</div>
                            <div class="day">SUN</div>
                        </div>
                        <div class="dates"></div>
                    </div>
                </div>
            </div>
            <!-- 달력 출력 종료 -->
        </div>
    </div>
</div>

<script th:src="@{/js/calendar3.js}"></script>

</body>
</html>