<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:replace="common.html::common"></div>
<div th:replace="header.html::header"></div>

<div class="container">

    <div class="row">

        <div class="col-6">
            <div class="container">
                <div>클래스 티켓 정보</div>
                <div>
                    <!-- 등록된 대표 이미지 출력-->
                    <img src="" alt="">
                </div>
                <div>
                    <div>클래스 명</div>
                    <div></div>
                </div>
                <div>
                    <div>일시</div>
                    <div></div>
                </div>
                <div>
                    <div>장소</div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="container">
                <div>결제 정보</div>
                <div>
                    <div>선택한 개수</div>
                    <div>
                        <div>하나 가격</div>
                        <div>선택한 개수</div>
                    </div>
                </div>
                <div>
                    <div>총 결제 금액 나타내기</div>
                </div>
            </div>

            <div class="container">
                <div>취소 및 환불 안내</div>
            </div>

            <div class="container">
                <div>결제 안내(포인트 차감)</div>
            </div>

            <div class="container">
                <div>포인트 차감 시키며 결제 완료하기</div>
            </div>


        </div>


    </div>

</div>
</body>
</html>