@charset "UTF-8";

.wrap {
    font-family: CookieRun-Regular;
}

.leftcontents {
     height:700px; margin-top: 2.5rem;
}



/* 좌측 컨텐츠리스트 부분 */
.roombox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* 좌측 슬라이드 */
.roomboxcontentimgbox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffdbdb;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    max-width: 35rem;
}

.roomboxcontentimg {
    width: 30rem;
    height: 15rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
}

.roomboxcontentimg img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.roomboxtoptxt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.roomboxtoptxt > div {
    margin: 1rem 1rem;
    width: 8rem;
}


.roomboxcontent {
    padding: 1rem 0;
}

.roomboxcontent > div{
    margin: 10px 0;
    border-bottom: 1px solid #374b73;
}

.roomboxcontentimgbox input, .roomboxcontentimgbox input a{
    width: 100%;
    height: 2rem;
    cursor: pointer;
    text-align: center;
}

.roomboxcontentimgbox input {
    text-decoration: none;
    color: #ff9a9a;
    background-color: #374b73;
    float: right;
    border-radius: 1rem;
    padding: 0 2rem;
    margin: 1rem 0;
    
}

.roomboxcontentimgbox a:hover {
    color: white;
    transform: scale(1.1);
    transition: 1s;
}



.roadbtn{
    border-bottom: none;
    background-color: #ff9a9a;
    color: #374b73;
    border: none;
    border-radius: 1rem;
    padding: 0 1rem;
   margin-top: 1rem;
    box-shadow: grey 1px 3px 5px;
    display: block;
    margin: 0 auto;
}

.roadbtn:hover {
    background-color: #374b73;
    color: white;
    transform: scale(1.1);
    transition: 1s;
}

/* 좌측 컨텐츠 */
.roomboxcontent {
        display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* 페이징버튼 */
.pagination li {
    margin: 0 5px;
}

.pagination li a{
    background: #ffdbdb;
    color: #374b73;
    height: 100%;
    border: 1px solid rgb(218, 218, 218);
}


/* 맵출력부분 */

#map-default-wrapper {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#map {
    width: 100%;
    height: 40rem;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 1rem 1rem 0 0;
    box-shadow: rgb(209, 209, 209) 5px 5px 5px;
    margin: 0 auto;
    display: block;
}