<div class="row d-flex flex-direction-column justify-content-center align-items-center" style="width:100%;">
    <div class="">
        <a th:href="@{ '/room/view/' + ${room.roomNo} }"
           class="logo d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img th:src="@{ '/roomimg/' + ${room.roomImgEntities.get(0).roomImg} }"
                 style="width: 15.0rem; height: 15.0rem;">
        </a>
    </div>
    <div class="">
        <div th:text="${room.roomNo}"></div>
        <div th:text="${room.roomTitle}"></div>
        <div th:text="${room.roomCategory}"></div>
        <div th:text="${room.roomMax}"></div>
        <div th:text="${room.roomStatus}"></div>
        <div th:text="${#strings.listSplit(room.roomAddress,',')[0]}"></div>
        <div>
            <button th:onclick="roomnavy([[${room.roomNo}]])">길찾기</button>
            <button style="display:none;" id="modalnavy1" data-target="#modalnavy"
                    data-toggle="modal"></button>
        </div>
    </div>
