<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul li{
        list-style-type: none;
        display: inline;
        margin-left: 20px;
        }
        #qnabox{
        width: 96%;
        height: auto;
        display: flex;
        padding: 2%;
        margin-top: 20px;
        border-color: #e0e0e0;
        border-style: solid;
        border-width: 1px;
        border-radius: 7px;
        flex-direction: column;
        }
    </style>
</head>
<body>


<div th:replace="common.html::common"></div>
<div th:replace="header.html::header"></div>

<div class="container mt-5">
    <div class="row">
        <div class="">
            <a href="#">
                <a th:href="@{/member/channel}">
                    <button class="btn btn-warning">채널보기</button>
                </a>
            </a>
            <button class="btn btn-warning">클래스 신청하기</button>
        </div>
        <div class="col-md-9">
            <div>
                <div th:id="${'carousel' + roomEntity.roomNo}" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner"> <!-- 반복문 -->
                        <div class="carousel-item active">
                            <img th:src="@{'/roomimg/'+${roomEntity.roomImgEntities.get(0).roomImg} }" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" th:each="roomimg : ${roomEntity.roomImgEntities}">
                            <img th:src="@{'/roomimg/'+${roomimg.roomImg} }"  class="d-block w-100" alt="...">
                        </div>
                    </div>

                    <button class="carousel-control-prev" type="button" th:data-bs-target="${'#carousel' + roomEntity.roomNo}"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="${'#carousel' + roomEntity.roomNo}"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div>
                <h3 th:text="${roomEntity.roomTitle}"></h3>
                <div>
                    <h4 th:text="${roomEntity.roomContent}">간단한 내용</h4>
                </div>
                <h5 th:text="${roomEntity.roomAddress}">장소</h5>
            </div>
            <ul>
                <a href="#classinfo">
                    <li>클래스 소개</li>
                </a>
                <a href="#ETC">
                    <li>편의사항</li>
                </a>
                <a href="#teacherinfo">
                    <li>강사소개</li>
                </a>
                <a href="#position">
                    <li>위치</li>
                </a>
                <a href="#review">
                    <li>후기</li>
                </a>
                <a href="#qna">
                    <li>문의</li>
                </a>
            </ul>
            <hr>
            <div>
                <h3 id="classinfo">클래스 소개</h3>
                <div th:text="${roomEntity.roomDetail}">

                </div>
                <hr>

                <h3 id="ETC">편의사항</h3>
                <div>
                    <span th:text="${roomEntity.roomETC}"></span>
                </div>
                <hr>
                <h3 id="teacherinfo">강사소개</h3>
                <br><br>
                <br><br>
                <hr>


                <h3 id="position">위치</h3>
                <div>
                    <div id="map" style="width:100%;height:350px;"></div> <!-- 지도가 표시되는 구역 -->
                </div>
                <hr>
            </div>

            <p style="font-size:24px;" id="review">후기</p>
            <a th:href="@{'/room/review/' + ${roomEntity.roomNo} }">
            <button type="button" class="btn btn-outline-secondary mt-3" style="border: solid 1px;">작성</button>
            </a>
            <br>
            <div class="row">
                <div class="col-md-2">
                    사진
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-4">아이디</div>
                        <div class="col-md-4">날짜</div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">내용자릴ㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹ</div>
                    </div>
                </div>
            </div>
            <hr>

            <h3 id="qna">클래스 문의 </h3>
            <div class="row">
                <div class="col-md-2">
                    로고자리
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-4">아이디</div>
                        <div class="col-md-4">날짜</div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">내용자릴ㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹ</div>
                    </div>
                </div>
            </div>
            <hr>

            <div>
                <div id="qnabox">
                    <p>문의내용 작성</p>

                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id=""
                                  style="height: 100px; resize: none;"></textarea>
                        <label for="floatingTextarea">궁금하신 점을 작성해 주세요~</label>
                        <button type="button" class="btn btn-outline-secondary mt-3" style="border: solid 1px;"> 작성 완료
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-3">
            <h1>달력</h1>
        </div>
    </div>
</div>

<!--&lt;!&ndash; 리뷰 작성할 클래스 선택 모달 [ 임시 ] &ndash;&gt;-->
<!--<div class="modal" tabindex="-1" id="classselect" data-bs-keyboard="false" data-bs-backdrop="static" role="dialog">-->
<!--    <div class="modal-dialog  modal-lg" role="document">-->
<!--        <div class="modal-content rounded-4 shadow">-->
<!--            <div class="modal-header p-5 pb-4 border-bottom-0">-->
<!--                <h2 class="fw-bold mb-0">내가 수강한 클래스 내역</h2>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> &lt;!&ndash; 닫기 &ndash;&gt;-->
<!--            </div>-->
<!--            <div class="modal-body p-4 text-center">-->
<!--                <h5 class="mb-0">리뷰를 작성하실 클래스를 선택해 주세요</h5>-->
<!--                <table class="table table-striped">-->
<!--                    <tr>-->
<!--                        <th>대표사진</th>-->
<!--                        <th>클래스명</th>-->
<!--                        <th>클래스 수강일</th>-->
<!--                        <th>비고</th>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>-->
<!--                            <img src="" alt="">-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <a th:href="@{/room/review}">쿠킹쿠킹</a>-->
<!--                        </td>-->
<!--                        <td>2022-01-27</td>-->
<!--                        <td>?</td>-->
<!--                    </tr>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div th:replace="footer.html :: footer"></div>

<!-- 인증 스크립트 -->
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3d40af5fcd7dc90460ae943f10753607&libraries=clusterer"></script>
<script th:src="@{/js/roomview.js}"></script>
</body>
</html>
