<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="common.html::common"></div>
<div th:replace="header.html::header"></div>

    <div class="container">
        <h3> 결제 정보 </h3>
        <h6> 결제 내용 </h6>

        <div>
            클래스 이미지
        </div>
        <div>
            클래스명
        </div>
        <div>
            클래스 내용
        </div>
        <div>
            클래스 금액
        </div>
        <div>
            클래스 신청인원
        </div>
        <br><br>
        <hr>
        <div class="row">	<!-- 3:8 -->
            <div class="col-md-3 m-2"> <label>마일리지</label> </div>
            <div class="col-md-6">
                <input type="text" id="point" placeholder="사용할 포인트" class="form-control">
                <br>사용가능 마일리지 :
            </div>
            <div class="col-md-2">
                <button class="btn btn-info" onclick="#">사용</button>
            </div>
        </div>
        <hr>

        <h6> 결제 금액 </h6>
        <div class="row">
            <div class="col-md-3">주문금액</div>
            <div class="col-md-9 text-right payment">
                <span id="totalprice" class="payment"></span>

            </div>
            <div class="col-md-3">사용 포인트</div>
            <div class="col-md-9 text-right "> <span id="usepoint" class="payment">0</span></div>

            <div class="col-md-3">최종 결제금액</div>
            <div class="col-md-9 text-right "> <span id="totalpay" class="payment"></span></div>

        </div>
        <hr>
        <h6> 결제 방식 </h6>
        <div class="row d-flex justify-content-around">
            <button onclick="paymentselect('samsung');" class="btn btn-outline-danger col-md-2">삼성페이</button>
            <button onclick="paymentselect('card');" class="btn btn-outline-danger col-md-2">신용카드</button>
            <button onclick="paymentselect('trans');" class="btn btn-outline-danger col-md-2">계좌이체</button>
            <button onclick="paymentselect('vbank');" class="btn btn-outline-danger col-md-2">가상계좌</button>
            <button onclick="paymentselect('phone');" class="btn btn-outline-danger col-md-2">휴대폰</button>
        </div>
        <div id="payselect"></div>
        <div class="row d-flex justify-content-around my-5">
            <button class="col-md-5 form-control p-3 bg-success text-white" th:onclick="payment();"> 결제하기 </button>
            <button class="col-md-5 form-control p-3"> 취소하기 </button>
        </div>

    </div>

</body>
</html>