<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>클래스 개설</title>
    <link rel="stylesheet" th:href="@{/css/test.css}">
    <style>
        .addClassPhoto{
            outline: 2px dashed #92b0b3 ;
            outline-offset:-10px;
            text-align: center;
            transition: all .15s ease-in-out;
            width: 300px;
            height: 300px;
            background-color: gray;
        }

    </style>
</head>
<body>
<div th:replace="header.html::header"></div>

<div class="container" style="margin-top: 2rem;">
    <div class="row">
        <div class="col-md-4">
            <span style="color: pink;">클래스 정보</span>
        </div>
        <div class="col-md-4">클래스 소개</div>
        <div class="col-md-4">클래스 위치</div>
    </div>
    <div class="row">
        <span style="background-color: #fff1ed;">작성 유의 사항</span>
        <div>
            <ul class="list-group">
                <li class="list-group-item">최종 등록하지 않은 내용은 전부 사라집니다.</li>
                <li class="list-group-item">등록 후 자유롭게 수정이 가능합니다.</li>
                <li class="list-group-item"> (*)필수 작성 사항을 기입하지 않으면 등록할 수 없습니다.</li>
            </ul>
        </div>
    </div>
    <div class="container">

        <div class="tab">

            <div id="tab-btn">
                <span class="active">카테1</span>
                <span>카테2</span>
                <span>카테3</span>
            </div>

            <div id="tab-page">
                <!-- 페이지1 -->
                <div class="active">
                    <h2>테스트1</h2>

                </div>
                <!-- 페이지2 -->
                <div>
                    <h2>테스트2</h2>
                </div>
                <!-- 페이지3 -->
                <div>
                    <h2>테스트3</h2>
                </div>
            </div>

        </div>
    </div>

</div>

<script th:src="@{/js/newroom.js}"></script>

<script>


</script>


</body>
</html>