*{
    font-family: 'NanumSquareRound';
    padding: 0;
    margin: 0;
}

#newCategoryBtn, #newBoardBtn{
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #eeeeee;
}

.sidebar-wrapper{
    padding: 0.5rem 0.5rem;
}

.sidebar-header{
    font-size: 1.2rem;
    border-bottom: 1px solid #ffffff;
}

.sidebar-wrapper .sidebar-container{
    padding: 0.5rem 0.5rem;
    margin-top: 1.0rem;
}

.sidebar-wrapper .sidebar-container .sidebar-category{
    border: solid 1px black;
    border-radius: 10px;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
    background-color: #eeeeee;
}

.sidebar-wrapper .sidebar-container .sidebar-board{
    margin-left: 2.0rem;
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
    border: solid 1px black;
    border-radius: 10px;
    padding: 0.5rem 0.5rem;
    box-shadow: 3px 3px 3px #cccccc;
}

.content-wrapper .content-container .content-area{
    padding: 0.7rem 0.7rem;
    margin: 0.5rem; 0.5rem;
}



