@charset "UTF-8";
.wrap {
    font-family: CookieRun-Regular;
}

.title {
    margin: 2rem !important;
    border-bottom: 5px solid #374b73;
    width: 15   rem;
}

.successbtn button {
    background-color: #ff9a9a;
    color: rgb(0, 0, 0);
    border-radius: 1rem;
    padding: 0 0.5rem;
}

.successbtn button:hover {
    transform: scale(1.05);
    transition: 1s;
    transition-timing-function: ease-in-out;
}


/* 테이블 */

.tablecontents {
    border-radius: 1rem;
}

.tablecontents tr:first-child {
    background: #374b73;
}

.firsttr th {
    border: solid 2px #fff;
    font-size: 1.2rem;
}

.secondtr td {
    border: solid 2px #fff;
    font-size: 1.2rem;
}

.tablecontents tr {
    background: #ffdbdb;
}

.tablecontents span,
.tablecontents a {
    color: #374b73;
}

.tableroomname a {
    text-decoration: none;
}

.myaddtable {}